<div class="row mt-5 pt-5 justify-content-around purchase-img purchase-img-1">
    <div class="col-md-6 col-xs-10">
        <div class="card p-3 m-5 opacity-1">
            <hr>
            <p class="lead">Navedeni uvjeti definiraju postupak naručivanja, plaćanja, isporuke i povrata proizvoda
                ponuđenih na stranicama na adresi <a href="https://cascadus.hr">https://cascadus.hr</a>.</p>
            <hr>
            <p>Isporučitelj (prodavatelj):
            </p>
            <ul>
                <li>
                    <p>
                        Cascadus d.o.o.,
                    </p>
                </li>
                <li>
                    <p>
                        Breg 22, 10362, Kašina, Hrvatska
                    </p>
                </li>
                <li>
                    <p>
                        OIB:44123469259, MB:5330009,
                    </p>
                </li>
                <li>
                    <p>
                        TELEFON: <a href="tel:+38598713228">+385 98 713 228</a>
                    </p>
                </li>
                <li>
                    <p>
                        E-MAIL: <a href="mailto:info@cascadus.hr">info@cascadus.hr</a>
                    </p>
                </li>
                <li>
                    <p>
                        IBAN:
                    </p>
                </li>
                <li>
                    <p>
                        SWIFT:
                    </p>
                </li>
            </ul>
            <hr>

            <p class="lead">Naručivanje online</p>
            <ul>
                <li>
                    <p>Naše proizvode možete naručiti putem Internet trgovine svaki dan od 0 - 24h.</p>
                </li>
                <li>
                    <p>Da biste izvršili narudžbu, jednostavno dodajte robu u košaricu za kupnju i slijedite upute korak
                        po korak. Naš vodič će vas voditi kroz proces sve do uspješnog završetka vaše narudžbe.</p>
                </li>
                <li>
                    <p>Naručivanjem robe prihvaćate naše Uvjete kupovine. Nakon potvrđivanja cijene i dostupnosti
                        odabrane robe, primit ćete elektronsku potvrdu Vaše narudžbe, zajedno s informacijama o dostavi,
                        koja uključuje ugovor između vas i tvrtke Cascadus d.o.o. U slučaju nedostupnosti robe ili
                        pogrešno navedene cijene odmah ćemo vas obavijestiti.</p>
                </li>
                <li>
                    <p>Usluge Cascadus d.o.o. internet trgovine mogu koristiti osobe starije od 18 godina.</p>
                </li>
            </ul>
            <hr>
            <p class="lead">Plaćanje</p>
            <ul>
                <li>
                    <p>Naručene proizvode s troškovima dostave kupac može prodavatelju platiti pouzećem prilikom dostave
                        robe ili direktnom bankovnom transakcijom (internet bankarstvo ili osobno općom uplatnicom) te
                        kreditnom karticom.</p>
                </li>
                <li>
                    <p>U slučaju plaćanja e-bankingom i općom uplatnicom, troškovi uplate i/ili međubankarske
                        transakcije nisu uključeni u cijenu. U slučaju da kupac naruči robu i odbije je primiti,
                        prodavatelj ima pravo tražiti od kupca nadoknadu poštanskih i vlastitih manipulativnih troškova.
                    </p>
                </li>
                <li>
                            <p class="lead">Načini plaćanja</p>
                    <ul>
                        <li>
                            <p>pouzećem prilikom dostave</p>
                        </li>
                        <li>
                            <p>internet bankarstvom</p>
                        </li>
                        <li>
                            <p>kreditinim karticama</p>
                        </li>
                        <li>
                            <p>jednokratno – jednokratno plaćanje može se vršiti karticama Mastercard, Maestro, Visa, Diners i Discover karticama svih banaka.</p>
                        </li>
                        <li>
                            <p class="lead">Obročno plaćanje je moguće obaviti sa sljedećim karticama:</p>
                            <ul>
                                <li>
                                    <p>Diners do 12 obroka – izdavatelj Erste Card Club</p>
                                </li>
                                <li>
                                    <p>Maestro
                                        do 6 obroka (izdavatelj Privredna banka Zagreb)
                                        do 12 obroka (izdavatelji Agram banka, Erste&Steiermärkische Bank, Istarska kreditna banka Umag, Kentbank, Kreditna banka Zagreb, Sberbank i Slatinska banka)</p>
                                </li>
                                <li>
                                    <p>Visa do 6 obroka (izdavatelj Privredna banka Zagreb)</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>

            <p class="lead">Isporuka proizvoda</p>
            <ul>
                <li>
                    <p>Dostava je besplatna za sve narudžbe.</p>
                </li>
                <li>
                    <p>Naručena roba dostavlja se do ulaza u stambeni objekt. Ako se radi o stambenoj zgradi, dostavljač nije obvezan nositi robu do kata na kojem se nalazi kupac, već do ulaza u zgradu. Roba se dostavlja na području Republike Hrvatske.</p>
                </li>
                <li>
                    <p>Dostava koju vršimo putem našeg vlastitog prijevoza u pravilu stiže na odredište u roku 5 radnih dana nakon izvršene narudžbe odnosno uplate ukoliko nije drugačiji rok naveden kod samog proizvoda.</p>
                </li>
                <li>
                    <p>Prilikom isporuke zbog mogućeg oštećenja sva roba mora biti u potpunosti pregledana u prisutnosti vozača dostavljača. Bilo koji gubitak ili oštećenje mora biti zabilježeno na dostavnici, a kupac nas mora obavijestiti o ovom događaju elektronskim putem u roku od 48 sati od primitka robe. Dostavnica je obvezujući dokument, koji u potpunosti dokazuje da je roba isporučena bez ikakvog gubitka ili štete.</p>
                </li>
            </ul>
            <hr>

            <p class="lead">Reklamacija proizvoda</p>
            <ul>
                <li>
                    <p>Prodavatelj odgovara za materijalne nedostatke stvari koje prodaje na svojim stranicama sukladno pozitivnim propisima Republike Hrvatske, posebice Zakonu o obveznim odnosima. Kupac ima pravo na reklamaciju u odnosu na materijalne nedostatke u rokovima i zbog razloga propisanih odredbama navedenog Zakona. Kupac može pisani prigovor odnosno reklamaciju uputiti na e-mail info@cascadus.hr sa naznakom reklamacija.</p>
                </li>
                <li>
                    <p>Prodavatelj će smatrati reklamaciju valjanom, ako pregledom proizvoda utvrdi da odgovara uvjetima za reklamaciju sukladno Zakonu o obveznim odnosima i Zakonu o zaštiti potrošača. U tom slučaju će u roku od 15 dana od primitka valjane reklamacije zamijeniti proizvod ili vratiti cjelokupan plaćeni iznos. Ukoliko ustanovi da reklamacija nije pravovaljana o istome će obavijestiti Kupca u roku od 15 dana od dana primitka reklamacije.</p>
                </li>
            </ul>
            <hr>

            <p class="lead">Raskid ugovora</p>
            <h4>PRAVO NA JEDNOSTRANI RASKID UGOVORA SKLOPLJENOG IZVAN POSLOVNIH PROSTORIJA ILI SKLOPLJENOG NA DALJINU</h4>
            <p class="lead">Potrošač može, ne navodeći razlog, jednostrano raskinuti ovaj ugovor, u roku od 14 dana od dana sklapanja ugovora ili po njegovom primitku.
                Pravo na jednostrani raskid ugovora počinje teći od datuma isporuke tj. od datuma za osobno preuzimanje pošiljke.
                Kako bi ostvario pravo na jednostrani raskid, potrošač mora trgovcu pisano dostaviti obavijest u kojoj navodi da raskida ugovor. Obavijest mora biti napisana na trajnom mediju i sadržavati podatke koji su niže naznačeni, a može se dostaviti kao pismo poslano poštom ili elektronička pošta.
                Ako potrošač koristi svoje pravo na jednostrani raskid, neće snositi u vezi s tim nastale troškove osim izravnih troškova povrata robe te umanjenja vrijednosti robe.
                Povrat novca možemo izvršiti tek nakon što nam roba bude vraćena ili nakon što nam dostavite dokaz da ste nam robu poslali nazad.
                Primjerak obrasca za jednostrani raskid ugovora možete elektronički ispuniti i poslati.</p>
                <p class="lead">Potvrdu primitka obavijesti o jednostranom raskidu ugovora dostavit ćemo vam, bez odgađanja, elektroničkom poštom.</p>
            <hr>
            
            <p class="lead">
                Upisan u sudski registar na Trgovačkom sudu u Zagrebu, Amruševa 2, 10 000 Zagreb. Temeljni kapital: 20
                000.00 HRK.
            </p>
            <p class="lead">
                Poduzetnik je u sustavu PDV-a. Valuta plaćanja je hrvatska kuna (kn). U cijene proizvoda nisu uključeni
                troškovi dostave, koji se posebno plaćaju.
            </p>
            <p class="lead">
                Kupac (potrošač) robe je posjetitelj web trgovine, koji odabere barem jedan proizvod, ubaci ga u
                košaricu, plati kreditnom karticom, virmanom (uplatnicom) ili prilikom pouzeća te pošalje potvrdu o
                uplati prodavatelju.
            </p>
            <hr>
        </div>
    </div>
</div>