.prakticnost-cover-mobile {
    background: url('../../../../assets/osmo/prakticnost.jpg') 
    no-repeat center center/cover; width: 100%; height: 35vh;
  }
  .osmo-landing-cover {
    background: url('../../../../assets/osmo/osmo-home.jpg') 
    no-repeat 55% center/cover; width: 100%; height: 65vh;
  }
  .osmo-lending-heading-2-bottom-mobile {
      text-align: left;
      position: relative;
      width: 100%;
      height: 40px;
      top: 45%;
      left: 6%;
  }

  .osmo-lending-heading-2-bottom-pc {
    text-align: center;
    position: relative;
    width: 100%;
    height: 40px;
    top: 50%;
}
  
.mavic-air-2-naslovna-podazina {
  background-image: url('../../../../assets/mavic-air/pexels-jeremy-bishop-2524874.jpg'); 
  image-rendering: optimizeSpeed;
  object-fit: fill;
}