<section id="contact" class="py-5 contact-img contact-img-1">
    <div class="p-5">
    <div class="row mt-md-5 text-center">
        <div class="col-12 mt-5">
            <div class="px-5 card card-body opacity-1 mx-auto d-none d-md-block">
            <h3>Slobodno kontaktiraj našu podršku ukoliko imaš neka pitanja vezana uz proizvode ili našu internet
                trgovinu!</h3>
            </div>
            <div class=" opacity-1 mx-auto d-block d-md-none">
            <h3>Slobodno kontaktiraj našu podršku ukoliko imaš neka pitanja vezana uz proizvode ili našu internet
                trgovinu!</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card tile shadow m-3 opacity-1">
                <div class="card-header shadow text-center">
                    <h3>Nazovi nas</h3>
                </div>
                <div class="card-body shadow d-flex">
                    <a class="m-auto zoom-on-hover" href="tel:+38598713228"><span class="material-icons"
                            style="font-size: 10vh; color: #333;">phone</span></a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card tile shadow m-3 opacity-1">
                <div class="card-header shadow text-center">
                    <h3>WhatsApp</h3>
                </div>
                <div class="card-body shadow d-flex ">
                    <a class="m-auto zoom-on-hover" href="https://api.whatsapp.com/send?phone=+38598713228">
                        <i class="fab fa-whatsapp" style="font-size: 5em; color: #333;" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card tile shadow m-3 opacity-1">
                <div class="card-header shadow text-center">
                    <h3>Pošalji nam email</h3>
                </div>
                <div class="card-body shadow d-flex ">
                    <a class="m-auto zoom-on-hover" href="mailto:podrska@cascadus.hr"><span class="material-icons"
                            style="font-size: 10vh; color: #333;">mail</span></a>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>

<!-- M12 SLUSALICE -->
<!-- 
<style>
    .position-down-pc {
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .position-down-pc-sub {
        position: absolute;
        left: 10%;
        bottom: 7%;
    }

    .position-down-mobile {
        position: absolute;
        left: 8%;
        top: 0.2rem;
    }

    .position-down-mobile-sub {
        position: absolute;
        left: 9%;
        top: 2.3rem;
    }

    .tile {
        height: 40rem;
    }

    .line-height-spaced {
        line-height: 2.5rem;
    }

    .scrolldown-animated {
        animation: animate 1.5s linear infinite;
    }

    .shadow {
        box-shadow: 0 8px 30px rgba(0, 0, 0, .3);
    }

    .position-bottom-center {
        position: absolute;
        bottom: 0.5rem;
        left: 40%;
    }

    @media screen and (min-device-width: 768px) {
        .position-bottom-center {
            position: absolute;
            bottom: 0.5rem;
            left: 48.5%;
        }
    }

    .font-merri {
        font-family: Merriweather;
    }

    @keyframes animate {
        0% {
            top: -10px;
            left: -10px;
            opacity: 0.2;
        }

        50% {
            top: 0px;
            left: 0px;
            opacity: 1;
        }

        100% {
            top: 10px;
            left: 10px;
            opacity: 0.2;
        }
    }
</style>
<section class="mt-5 pt-5">
    
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div class="d-none d-md-block">
                <h1 class="position-down-pc"><strong>Basser</strong> M12</h1>
                <h2 class="position-down-pc-sub"><strong>Zapanjujuće</strong> bežične slušalice.</h2>
                <img class="img img-responsive w-100 h-75" src="../../../../assets/slusalice/flash.png"
                    alt="Bežične slušalice m12 pro sa pomoćnim osvjetljenjem" />
            </div>
            <div class="d-block d-md-none white-text">
                <h1 class="position-down-mobile"><strong>Basser</strong> M12</h1>
                <h2 class="position-down-mobile-sub"><strong>Zapanjujuće</strong> bežične slušalice.</h2>
                <img class="img img-responsive w-100 h-75" src="../../../../assets/slusalice/flash.jpg"
                    alt="Bežične slušalice m12 pro sa pomoćnim osvjetljenjem" />
            </div>
            <div class="position-bottom-center text-center">
                <i class="material-icons white-text scrolldown-animated"
                    style="font-size: 4rem;">keyboard_arrow_down</i>
            </div>
        </div>
    </div>

    
    <div class="row m-0 p-0 orange shadow">
        <div class="col text-center">
            <h1 class="my-4">Doživite novu razinu kvalitete zvuka</h1>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12  m-0 p-0 col-lg-6 py-5 d-flex text-center text-md-left shadow">
            <div class="align-self-center ml-4">
                <h1 class="mb-5">Zvuk koji će vas ostaviti bez daha</h1>
                <h4 class="px-4 line-height-spaced">Kristalno jasan zvuk M12 bežičnih slušalica
                    kombiniran sa najnovijom hibridnom <strong>Bluetooth 5.0</strong>
                    tehnologijom čini da se prilikom svakog slušanja na svojem <strong>Android ili iOS</strong> uređaju
                    osjećate kao da
                    ste
                    na koncertu.</h4>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6  m-0 p-0 shadow">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/9d-audio.png"
                alt="Bežične slušalice m12 mogu se upariti s bilo kojim uređajem koji posjeduje Bluetooth tehnologiju." />
        </div>
    </div>

    
    <div class="row m-0 p-0 orange shadow">
        <div class="col text-center">
            <h1 class="my-4">Više nećete čekati</h1>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12 col-lg-6 m-0 p-0 shadow">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/automatsko-uparivanje.png"
                alt="Bežične slušalice m12 koriste pametnu tehnologiju uparivanja s kojom se automatski spajaju na prethodno uparene uređaje." />
        </div>
        <div class="col-xs-12 col-lg-6 m-0 p-0 py-5 d-flex text-center text-md-right shadow">
            <div class="align-self-center ml-4">
                <h1 class="mb-5">Spajanje u jednom koraku</h1>
                <h4 class="px-4 line-height-spaced">Zbog svoje Bluetooth 5.0 tehnologije, ove slušalice uvijek su
                    spremne za uparivanje.</h4>
                <h4 class="px-4 line-height-spaced">Same se <strong>automatski spajaju</strong> na vaš uređaj čim ih
                    izvadite iz
                    kutijice.</h4>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row m-0 p-0 orange shadow">
        <div class="col text-center">
            <h1 class="my-4">Najviša kvaliteta zvuka</h1>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12 col-lg-7 m-0 p-0 py-5 d-flex text-center text-md-left shadow">
            <div class="align-self-center ml-4">
                <h1 class="mb-5">Vrhunski zvuk s <strong>dubokim basovima</strong>.</h1>
                <h4 class="px-4 line-height-spaced">M12 bežične slušalice nude istinski autentičan zvuk sa
                    <strong>6mm</strong> upravljačkim programom zvučnika velike veličine.
                </h4>
                <h4 class="px-4 line-height-spaced">Ekskluzivna <strong>Bass + tehnologija</strong> donosi vam izvrsno
                    uživanje u moćnim basovima.</h4>
                <h4 class="px-4 line-height-spaced">Ugrađena <strong>2 mikrofona</strong> kako bi vaš telefonski poziv
                    bio jasniji.</h4>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5 m-0 p-0">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/vrhunski-zvuk.png"
                alt="Bežične slušalice m12 dolaze u vlastitoj kutijici na kojoj vam piše razina baterije kutijice i pojedine slušalice." />
        </div>
    </div>


    <div class="row m-0 p-0 shadow">
        <div class="col  text-center">
            <h2 class="my-4 font-weight-bold font-merri">Sve naredbe sa samo jednim prstom</h2>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12 col-lg-6 m-0 p-0 shadow">
            <img class="img img-responsive w-100 h-auto"
                src="../../../../assets/slusalice/multifunkcionalne-naredbe.png"
                alt="Bežične slušalice m12 sa jednim prstom omogućuju vam mnoštvo naredbi." />
        </div>
        <div class="col-xs-12 col-lg-6 m-0 p-0 py-5 black white-text d-flex text-center text-md-right shadow">
            <div class="align-self-center ml-4">
                <h1 class="mb-5"><strong>Jednostavno</strong> riješenje za sve vaše potrebe.</h1>
                <h4 class="px-4 line-height-spaced">Pametno <strong>upravljanje dodirom</strong> i mono / twin način
                    rada. </h4>
                <h4 class="px-4 line-height-spaced">Višenamjenska dodirna ploča na svakoj slušalici omogućuje vam:
                    <strong>upravljanje multimedijom, podešavanje glasnoće i jednostavno odgovaranje / završavanje /
                        odbijanje poziva.</strong>
                </h4>
                <h4 class="px-4 line-height-spaced"><strong>Bilo koja slušalica</strong> (lijeva ili desna) može se
                    samostalno koristiti za pozive i glazbu u mono načinu.</h4>
                <h4 class="px-4 line-height-spaced">Dvostruki način pruža obuzimajući stereo zvuk.</h4>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
    </div>


    <div class="row m-0 p-0 orange shadow">
        <div class="col text-center">
            <h1 class="my-4">Punite vaše slušalice kao nikada do sada</h1>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12 col-lg-6 m-0 p-0 py-5 d-flex text-center text-md-left shadow">
            <div class="align-self-center ml-4">
                <h1 class="mb-5">USB C i <strong>bežično punjenje</strong> kučišta slušalica.</h1>
                <h4 class="px-4 line-height-spaced">M12 podržava <strong>dva načina punjenja</strong>. Reverzibilni
                    USB-C kabel za punjenje (priložen) ubrzava punjenje.</h4>
                <h4 class="px-4 line-height-spaced">Kućište možete postaviti i na <strong>bežični punjač</strong>
                    (prodaje se zasebno) koji nudi praktičnije iskustvo punjenja i tako se možete u potpunosti
                    <strong>riješiti zamršenih žica</strong>.
                </h4>
                <h4 class="px-4 line-height-spaced">Baterija samih slušalica traje do 5 sati, no njihovo kučište
                    produljuje trajanje za dodatnih <strong>20 sati</strong>.</h4>
                <h4 class="px-4 line-height-spaced">Uživajte u glazbi tijekom cijelog dana.</h4>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 m-0 p-0 shadow">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/prijenosni-punjac.png"
                alt="Kutijica ovih bežičnih slušalica M12 može vam poslužiti kao prijenosni punjač." />

        </div>
    </div>

    
    <div class="row m-0 p-0 orange shadow">
        <div class="col text-center">
            <h1 class="my-4">Punite vaše slušalice kao nikada do sada</h1>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12 col-lg-6 m-0 p-0 shadow">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/vodootporna-tehnologija.jpeg"
                alt="Bežične slušalice m12 su vodootporne. IPX-7 certifikat štiti slušalice od vode, znoja i prašine." />
        </div>
        <div class="col-xs-12 col-lg-6 m-0 p-0 py-5 d-flex text-center text-md-right black white-text shadow">
            <div class="align-self-center ml-4">
                <h1 class="mb-5">IPX-7 <strong>vodootpornost</strong> i otpornost na prašinu.</h1>
                <h4 class="px-4 line-height-spaced">M12 slušalice su otporne na vodu i prašinu.</h4>
                <h4 class="px-4 line-height-spaced">IPX-7 vodootporna ocjena bežičnih slušalica štiti ih bez napora od
                    vode, znoja i kiše.</h4>
                <h4 class="px-4 line-height-spaced">Odabirom najbolje prilagodbe od 6 nastavaka u 3 veličine možete
                    dobiti bolje iskustvo nošenja i slušanja.</h4>
                <h4 class="px-4 line-height-spaced">Ergonomske slušalice za ušice pripijene su i lagane, što će vam
                    stabilno ostati u ušima čak i pri napornom vježbanju.</h4>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>

            </div>
        </div>
    </div>


    <div class="row m-0 p-0 orange shadow">
        <div class="col text-center">
            <h1 class="my-4">Pravi gameri koriste prave slušalice</h1>
        </div>
    </div>

    
    <div class="row m-0 p-0">
        <div class="col-xs-12 col-lg-6 m-0 p-0 py-5 d-flex text-center text-md-left shadow">
            <div class="align-self-center ml-5">
                <h1 class="mb-5 line-height-spaced">Zaigraj svoje najdraže naslove uz M12</h1>
                <div class="d-flex py-3 text-center justify-content-center">
                    <i class="material-icons scrolldown-animated" style="font-size: 4rem;">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 m-0 p-0 shadow">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/gaming.png"
                alt="Bežične slušalice m12 sa ugradenim v5.0 cipom ne stvaraju kašnjenje zvuka u odnosu na sliku" />
        </div>
    </div>

    
    <div class="row d-block d-md-none">
        <div class="col">
            <img class="img img-responsive w-100 h-auto" src="../../../../assets/slusalice/grid-details.png"
                alt="Bežične slušalice m12. led displej, bluetooth 5.0, ipx-7, smanjenje buke, HiFi zvuk, 2000 mAh" />
        </div>
    </div>


    <div class="row p-5">
        <div class="col-xs-12 col-md-6 d-flex align-items-center">
            <div class="card card-body shadow mx-auto my-4">
                <h2>Specifikacije proizvoda</h2>
                <ul class="list">
                    <li>
                        <p class="lead">
                            Bluetooth 5.0
                        </p>
                    </li>
                    <li>
                        <p class="lead">
                            2000 mAh kapacitet baterije
                        </p>
                    </li>
                    <li>
                        <p class="lead">
                            IPX-7 certifikat
                        </p>
                    </li>
                    <li>
                        <p class="lead">
                            Multifunkcionalne tipke
                        </p>
                    </li>
                    <li>
                        <p class="lead">
                            Bežićno puenjenje
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 d-flex align-items-center">
            <div class="card card-body shadow mx-auto my-4">
                <h2>Opis proizvoda</h2>
                <p class="lead">
                    Bežične slušalice M12 su dizajnirane kako bi vam pružile potpunu slobodu korištenja. S njima možete
                    trčati, plivati, roniti, čitati knjigu, vježbati u teretani... Možete raditi bilo što, bez straha da će vam slušalice ispasti iz uha.
                </p>
                <p class="lead">
                    Neće vas sputavati ni njihova baterija
                    jer se vrlo brzo napune ukoliko ih ispraznite. Samo ih vratite u kutijicu, pričekajte 30-ak minutai
                    one će ponovo bitit spremne za višesatno korištenje.
                </p>
            </div>
        </div>
    </div>
</section> -->

<!-- DJI OSMO MOBILE 3 -->
<!-- 
<style>
    .position-down-pc {
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .position-down-pc-sub {
        position: absolute;
        left: 10%;
        bottom: 50%;
    }

    .position-down-mobile {
        position: absolute;
        left: 8%;
        top: 0.2rem;
    }

    .position-down-mobile-sub {
        position: absolute;
        width: 70%;
        overflow-wrap: break-word;
        left: 9%;
        top: 0.8rem;
    }

    .tile {
        height: 40rem;
    }

    .line-height-spaced {
        line-height: 2.5rem;
    }

    .scrolldown-animated {
        animation: animate 1.5s linear infinite;
    }

    .shadow {
        box-shadow: 0 8px 30px rgba(0, 0, 0, .3);
    }

    .position-bottom-center {
        position: absolute;
        bottom: 0.5rem;
        left: 40%;
    }

    @media screen and (min-device-width: 768px) {
        .position-bottom-center {
            position: absolute;
            bottom: 0.5rem;
            left: 48.5%;
        }
    }

    @keyframes animate {
        0% {
            top: -10px;
            left: -10px;
            opacity: 0.2;
        }

        50% {
            top: 0px;
            left: 0px;
            opacity: 1;
        }

        100% {
            top: 10px;
            left: 10px;
            opacity: 0.2;
        }
    }
</style>

-->



