<section id="faq" class="mt-5 pt-5">
    <div class="parallax parallaxFaq mt-5">

        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="row text-center justify-content-around mx-2">
                <!-- Accordion card 1-->
                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" [href]="'#collapseOne1'"
                                aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="mb-0 text-dark">Kako mogu kupiti proizvod?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Proces je vrlo jednostavan. Na podnožju stranice proizvoda kojeg želite kupiti
                                        nalazi se
                                        formular u koji upisujete svoje podatke i klikom na Naruči mi zaprimamo vašu
                                        narudžbu nakon čega ćete biti obaviješteni emailom.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Accordion card 2-->
                <div class="col-xs-12 col-md-6 opacity-1 d-none">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingTwo2">
                            <a data-toggle="collapse" data-parent="#accordionEx" [href]="'#collapseTwo2'"
                                aria-expanded="true" aria-controls="collapseTwo2">
                                <h5 class="mb-0 text-dark">Tko dostavlja moju narudžbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Kako bi bili sigurni da ćete svoj proizvod dobiti što prije koristimo kurirske
                                        službe
                                        GLSa.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accordion card 3-->
                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseThree3'" aria-expanded="false" aria-controls="collapseThree3">
                                <h5 class="mb-0 text-dark">Kada će mi narudžba biti dostavljena?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Sve narudžbe zaprimljene do 19:00 biti će poslane isti dan. U prosjeku naši kupci
                                        dobe naručeni proizvod u roku 2-3 radna dana. U nekim slučajevima vrijeme
                                        isporuke
                                        se razlikuje
                                        od
                                        standarda za 1 ili 2 dana. Vrijeme isporuke svakog proizvoda jasno je prikazano
                                        na
                                        stranici
                                        proizvoda.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingFour4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseFour4'" aria-expanded="false" aria-controls="collapseFour4">
                                <h5 class="mb-0 text-dark">Tko dostavlja moju narudžbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Kako bi bili sigurni da ćete svoj proizvod dobiti što prije koristimo kurirske
                                        službe
                                        GLSa.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingFive5">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseFive5'" aria-expanded="false" aria-controls="collapseFive5">
                                <h5 class="mb-0 text-dark">Koja je cijena dostave?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Dostava za bilo koju narudzbu je besplatna. Vi plaćate samo cijenu proizvoda.
                                        Ukoliko se u trenutku pokušaja dostave ne nalazite doma, u kurir će Vas
                                        obavijestit
                                        pozivom ili
                                        SMS-om te se možete dogovoriti kako i kada pokupiti svoju narudžbu.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingSix6">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseSix6'" aria-expanded="false" aria-controls="collapseSix6">
                                <h5 class="mb-0 text-dark">Nisam zadovoljan proizvodom. Mogu li ga vratiti?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseSix6" class="collapse" role="tabpanel" aria-labelledby="headingSix6"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Bilo koji kupljeni proizvod možete vratiti u roku od 14 dana ukoliko niste
                                        zadovoljni
                                        na
                                        bilo
                                        koji način s njim.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingSeven7">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseSeven7'" aria-expanded="false" aria-controls="collapseSeven7">
                                <h5 class="mb-0 text-dark">Mogu li izmijeniti narudžbu nakon kupnje?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseSeven7" class="collapse" role="tabpanel" aria-labelledby="headingSeven7"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Naša ekipa se trudi da sve narudžbu budu što prije otpremljene, no ukoliko će
                                        ikako
                                        biti moguće, svakako ćemo uvažiti sve željene promjene na narudžbi, ukoliko ista
                                        nije
                                        već
                                        zapakirana
                                        i otpremljena.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1 d-none">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingEight8">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseEight8'" aria-expanded="false" aria-controls="collapseEight8">
                                <h5 class="mb-0 text-dark">Kako mogu provjeriti status svoje narudžbe?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseEight8" class="collapse" role="tabpanel" aria-labelledby="headingEight8"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Status naružbe možete provjeriti na stranicama GLS-a nakon što dobite naš email s
                                        brojem narudžbe ili nas možete nazvati na <a href="tel:+38598713228">+385 98 713 228</a> kako bi vam mi rekli u
                                        kojem
                                        je
                                        procesu.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingNine9">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseNine9'" aria-expanded="false" aria-controls="collapseNine9">
                                <h5 class="mb-0 text-dark">Trenutno na skladištu nemate proizvod koji želim kupiti. Kako
                                    ga
                                    mogu
                                    naručiti?<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseNine9" class="collapse" role="tabpanel" aria-labelledby="headingNine9"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Ukoliko se proizvod ne nalazi na skladištu možete nam poslati email za proizvod
                                        koji želite, a mi ćemo vam reći kada će prozvod ponovo biti kod nas kako bi
                                        mogli do
                                        kraja
                                        dovršiti
                                        narudžbu.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne0'" aria-expanded="false" aria-controls="collapseOne0">
                                <h5 class="mb-0 text-dark">Mogu li platiti R1 računom?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne0" class="collapse" role="tabpanel" aria-labelledby="headingOne0"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Ukoliko želite kupiti određeni proizvod na ime tvrtke molimo vas da nam se javite
                                        na email ili putem društvenih mreža.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="heading11">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapse11'" aria-expanded="false" aria-controls="collapse11">
                                <h5 class="mb-0 text-dark">Kako mogu pratiti svoju nardužbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Čim izvršite narudžbu, poslati ćemo Vam e-mail s potvrdom vaše narudžbe i brojem
                                        pošiljke. Možete koristiti OVAJ LINK za pregled statusa svojeg paketa.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne2'" aria-expanded="false" aria-controls="collapseOne2">
                                <h5 class="mb-0 text-dark">Trebam li se negdje registrirati kako bi naručio s vaše
                                    stranice?<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne2"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>U ovom trenutku nije potrebno stvarati račun ako želite naručiti s naše stranice.
                                        Ako se odlučite kupiti određeni proizvod samo popunite formular za narudžbe na
                                        dnu
                                        stranice željenog
                                        proizvoda i kliknite naruči. Tako je lagano. Međutim, prijava na naš
                                        newsletter
                                        pružit će vam
                                        zadivljujuću priliku za primanje i kupovinu sa popustima, bonovima, plus što
                                        ćete
                                        na našem web
                                        mjestu moći učiti o najnovijim tehnološkim uređajima!</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne3'" aria-expanded="false" aria-controls="collapseOne3">
                                <h5 class="mb-0 text-dark">Mogu li promjeniti adresu nakon što sam izvršio/la
                                    narudžbu?<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne3" class="collapse" role="tabpanel" aria-labelledby="headingOne3"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Nakon što izvršite narudžbu, informacije idu izravno u odjel za otpremanje
                                        pošiljaka. Iako se trudimo vašu narudžbu poslati što prije, ako se ona nalazi
                                        kod
                                        nas
                                        rado ćemo
                                        izmjenit adresu dostave po vašoj želji.Stoga, ako trebate izvršiti bilo kakve
                                        promjene
                                        na adresi
                                        za
                                        dostavu, kontaktirajte nas na <a
                                            href="mailto:podrska@cascadus.hr">podrska@cascadus.hr</a> i tada ćemo se
                                        pobrinuti za
                                        to.
                                        Prije
                                        podnošenja
                                        narudžbe provjerite jesu li svi podaci koje ste naveli točni kako biste
                                        spriječili
                                        gubitke u
                                        pošti
                                        ili druge nesretnice.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne4'" aria-expanded="false" aria-controls="collapseOne4">
                                <h5 class="mb-0 text-dark">Što ako moja narudžba bude izgubljena ili oštećena?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne4" class="collapse" role="tabpanel" aria-labelledby="headingOne4"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Izgubljene ili oštećene narudžbe rado ćemo zamijeniti ili Vam vratiti novac bez
                                        naknade.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne5">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne5'" aria-expanded="false" aria-controls="collapseOne5">
                                <h5 class="mb-0 text-dark">Mogu li promijeniti svoju narudžbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne5" class="collapse" role="tabpanel" aria-labelledby="headingOne5"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Da. Ako vaša narudžba još nije poslana, kontaktirajte nas na <a
                                            href="mailto:podrska@cascadus.hr">podrska@cascadus.hr</a>
                                        i
                                        rado ćemo promijeniti vašu narudžbu. Već poslane narudžbe nije moguće
                                        izmijeniti.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne6">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne6'" aria-expanded="false" aria-controls="collapseOne6">
                                <h5 class="mb-0 text-dark">Mogu li otkazati svoju narudžbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne6" class="collapse" role="tabpanel" aria-labelledby="headingOne6"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Da. Ako vaša narudžba još nije poslana, kontaktirajte nas na <a
                                            href="mailto:podrska@cascadus.hr">podrska@cascadus.hr</a>
                                        i rado ćemo otkazati vašu narudžbu. Već poslane narudžbe nije moguće otkazati.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne7">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne7'" aria-expanded="false" aria-controls="collapseOne7">
                                <h5 class="mb-0 text-dark">Mogu li vratiti narudžbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne7" class="collapse" role="tabpanel" aria-labelledby="headingOne7"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Da. Povrati se mogu izvršiti do 14 dana nakon primitka vaše narudžbe, pod uvjetom
                                        da u originalnom pakiranju. Da biste pokrenuli povrat, kontaktirajte nas na
                                        <a href="mailto:podrska@cascadus.hr">podrska@cascadus.hr</a>.
                                        Nakon što primimo Vašu vraćenu narudžbu poslato ćemo vam e-poštu s potvrdom o
                                        povratu
                                        novca u
                                        roku
                                        od 14 dana.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne8">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne8'" aria-expanded="false" aria-controls="collapseOne8">
                                <h5 class="mb-0 text-dark">Mogu li zamijeniti svoju narudžbu?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                            <div id="collapseOne8" class="collapse" role="tabpanel" aria-labelledby="headingOne8"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Da. Razmjene se mogu izvršiti do 30 dana nakon primitka narudžbe. Za pokretanje
                                        razmjene kontaktirajte nas na <a href="mailto:podrska@cascadus.hr">podrska@cascadus.hr</a> i mi cemo vam poslati proizvode
                                        za
                                        koje
                                        mžete
                                        zamijeniti svoj trenutni proizvod.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 opacity-1">
                    <div class="card p-2 m-2">
                        <div class="card-body" role="tab" id="headingOne9">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                [href]="'#collapseOne9'" aria-expanded="false" aria-controls="collapseOne9">
                                <h5 class="mb-0 text-dark">Kako mogu provjeriti status svoje narudžbe?<i
                                        class="fas fa-angle-down rotate-icon ml-5"></i>
                                </h5>
                            </a>
                            <div id="collapseOne9" class="collapse" role="tabpanel" aria-labelledby="headingOne9"
                                data-parent="#accordionEx">
                                <div class="card-body text-left">
                                    <hr>
                                    <p>Status naružbe možete provjeriti na stranicama GLS-a nakon što dobite naš email s
                                        brojem narudžbe ili nas možete nazvati na <a href="tel:+38598713228">+385 98 713 228</a> kako bi vam mi rekli u kojem je procesu vaša narudžba.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/.Accordion wrapper-->

    <!-- Section: other questions -->
    <div class="row orange divider">
        <div class="col-12 py-3 text-center">
            <h3 class="font-weight-bold dark-text my-auto pt-4 text-center">Any other question?</h3>
            <hr class="w-header">
        </div>
        <div class="col-12 text-center">
            <i class="material-icons material-icon-large scrolldown-animated">keyboard_arrow_down</i>
            <br>
            <a [href]="'/contact'">
                <i class="material-icons material-huge-icon icon-dark mx-auto mb-4 p-auto">support_agent</i>
            </a>
            <p class="lead text-center dark-text">Ukoliko imate pitanja koja nisu gore navedena, slobodno nam se javite
                s Vašim pitanjem i rado ćemo Vam odgovoriti na isto.</p>
        </div>
    </div>

</section>