.privacy-img {
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    background-size: contain;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}
.privacy-img-1{
    background-image: url("../../../../assets/svg/undraw_statement.svg");
    image-rendering: optimizeSpeed;
}