<section id="order-success">
    <div class="row orange black-text m-0 p-0">
        <div class="col-12 pt-5">
            <div class="d-flex justify-content-center py-5 px-2" style="min-height: 100vh; height: auto;">
                <div class="text-center align-self-center">
                    <h1><strong><span id="buyerName"></span>, hvala ti na ovoj narudžbi.</strong></h1>
                    <h2>Proizvode koje si naručio ubrzo kreću prema tebi!</h2>
                    <h2>Upravo ti šaljemo mail sa detaljima tvoje narudžbe.</h2>
                    <h2>Ukoliko imaš neke zahtjeve vezane uz tvoju narudžbu, bitno je da znaš broj narudžbe (nalazi se u mailu) kako bi znali o kojoj narudžbi se radi.</h2>
                    <h2>Čim pošaljemo tvoj paket, dobit ćeš poruku putem email adrese ili sms porukom.</h2>
                </div>
            </div>
        </div>
    </div>
</section>