.terms-img {
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-attachment: scroll;
}
.terms-img-1{
    background-image: url("../../../../assets/svg/undraw_terms.svg");
    image-rendering: optimizeSpeed;
}