 <div class="row mt-5 pt-5 justify-content-end privacy-img privacy-img-1">

    <div class="col-md-6 col-xs-10">
        <div class="card p-3 m-5 opacity-1">
            <h4>Zaštita osobnih podataka i politika privatnosti
                Prema zakonu Republike Hrvatske o zaštiti osobnih podataka, osobni podatak definiran je kao svaka
                informacija, koja se odnosi na identificiranu fizičku osobu ili podatak kojim se može identificirati
                osoba,
                utvrditi identitet izravno ili neizravno. Te podatke tretiramo kao osobne podatke.
            </h4>
            <hr>
            <p>Obrada podataka je bilo koja radnja izvršena na osobnim podacima, poput primjerice prikupljanja, pohrane,
                upotrebe, uvida i prijenosa osobnih podataka.
            </p>
            <p>Pravne osnove za obradu osobnih podataka sukladno propisima EU i Zakon o provedbi Opće uredbe o zaštiti
                podataka su
                sljedeće:
            </p>
            <p>
                kada ste pristali na obradu (privola),
            </p>
            <p>
                kada je to potrebno za sklapanje ili izvršavanje ugovora,
            </p>
            <p>
                u svrhu ispunjavanja zakonskih obveza,
            </p>
            <p>
                kada je to potrebno u pravne svrhe.
            </p>
            <hr>
            <p>
                Kada i kako Cascadus prikuplja podatke korisnika?
                Cascadus prikuplja osobne podatke Kupaca samo u mjeri koji su nužni za ispunjenje svoje obveze odnosno
                za
                koje postoji
                legitimni interes te za koje ima privolu Kupca u svrhu informiranja, podrške kupcima i marketing.
            </p>
            <p>
                Cascadus se obvezuje štiti osobne podatke Kupaca u skladu sa Zakon o provedbi Opće uredbe o zaštiti
                podataka
                te se
                obvezuje da osobne podatke neće ni na koji način ustupiti trećim osobama bez pristanka Kupca (osim
                podataka
                za koje
                postoji legitimni interes u svrhu izvršavanja dostave kupljenog proizvoda).

            </p>

            <p>
                Obrada osobnih podataka koja se temelji na legitimnom interesu ili predstavlja ugovornu obvezu obavlja
                se
                održavanjem
                najviši standarda sigurnosti i poslovanja. Kupac u svakom trenutku može izjaviti prigovor na obradu
                svojih
                osobnih
                podataka na temelju svoje specifične situacije. Kupac ima pravo zatražiti nadopunu, ispravak ili izmjenu
                netočnih
                osobnih podataka.
            </p>
            <p>
                Od ovog se izuzimaju slučajevi u kojima je Prodavatelj po valjanom nalogu ovlaštenih državnih tijela, u
                skladu sa
                zakonom, dužan dostaviti ili dopustiti uvid u osobne podatke Kupaca.
            </p>

            <p>
                Ako Kupac pruža podatke u ime druge osobe, mora se pobrinuti da je ta osoba upoznata s ovim pravilima o
                zaštiti
                privatnosti prije no što to učini.

            </p>
            <ul>
                <li>
                    <p>1. Podatke prikupljamo prilikom kupovine u Cascadus trgovini u svrhu dostave proizvoda
                        Prilikom kupovine u Cascadus internetskoj trgovini tražimo od vas određene osobne podatke koje
                        su
                        nužne za ispunjenje
                        usluge i kupovinu. Pružanje osobnih podataka u svrhu prodaje predstavlja ugovornu obvezu te ako
                        ih
                        ne pružite, to će
                        utjecati na ispravno izvršenje ugovora ili ga čak onemogućiti.</p>
                </li>
                <li>
                    <p>
                        U svrhu dostave proizvoda naručenog putem Cascadus internetske trgovine potrebno je unijeti vaše
                        osobne podatke (ime,
                        prezime, adresu dostave, broj telefona i email adresu).
                        Legitiman pristup podacima kupca koje uključuju ime i prezime te adresu dostave imaju pristup
                        djelatnici dostavnih
                        službi s kojima Cascadus ima sklopljen ugovor o dostavi naručenih proizvoda putem Cascadus
                        internetske trgovine.
                        Cascadus ne bilježi broj vaše kreditne kartice niti pohranjuje transakcijske podatke. Cascadus
                        za
                        naplatu kreditnih
                        kartica koristi usluge treće strane, ovlaštene banke, koja enkripcijom štiti vaše podatke.
                    </p>
                </li>
                <li>
                    <p>
                        2. Podatke prikupljamo i obrađujemo ako nas izravno kontaktirate
                        putem obrasca na internetskoj stranici bio-dekor.com
                        direktno mailom
                        telefonskim pozivom
                        Tako prikupljene podatke koristimo samo za obradu traženih informacija i upita korisnika te u
                        svrhu
                        osiguravanja
                        kvalitetnog korisničkog iskustva. Kupci i korisnici internetske stranice cascadus.hr suglasni su
                        da
                        u skladu sa Zakonom
                        o provedbi Opće uredbe o zaštiti podataka te u skladu s traženim upitom obrađujemo osobne
                        podatke.
                    </p>
                </li>
                <li>
                    <p>
                        3. Prilikom slanja newslettera pretplatnicima
                        Cascadus prikuplja e-mail adrese korisnika koje koristi za slanje newslettera odnosno
                        elektroničkih
                        poruka koje sadrže
                        promotivne poruke, ponude i vijesti iz svijeta mobilne tehnologije.
                    </p>
                </li>
                <li>
                    <p>
                        4. Prikupljanje u svrhu osiguravanja podrške kupcima i marketing
                        Cascadus uz privolu Kupca može koristiti osobne podatke za informiranje o novim i akcijskim
                        proizvodima te dostavu
                        promotivnih materijala, newslettera te unaprjeđenja odnosa s Kupcima.
                    </p>
                </li>
                <li>
                    <p>
                        Ukoliko pristup podacima u svrhe marketinške obrade imaju treći pružatelji usluga, oni su
                        detaljno
                        opisani u odlomku
                        1.2. ovog teksta.
                    </p>
                </li>
            </ul>
            <hr>
            <p>Tko su subjekti s kojima Cascadus može dijeliti osobne podatke?
            </p>
            <ul>
                <li>
                    <p>
                        1. Pružatelji usluga društvenih mreža
                        Prilikom kreiranja Cascadus računa na Cascadus trgovini potrebno je unijeti svoje podatke
                        (e-mail,
                        ime i prezime).
                        <small>Prilikom prijave putem društvenih mreža, odnosno Google i Facebook računa, Cascadus ne
                            zadržava podatke prikupljene
                            takvom prijavom.</small>
                    </p>
                </li>
                <li>
                    <p>
                        2. Pružatelji usluga za slanje e-mail promotivnih poruka
                        Cascadus surađuje s pružateljima usluga trećim stranama kako bi se mogle provesti aktivnosti
                        slanja
                        e-pošte, oglašavanja
                        i analiziranja upotrebe naših web mjesta i aplikacija te praćenja učinkovitosti kampanja.

                        Osobne podatke dijelimo samo u onoj mjeri potrebnoj za izvršavanje usluge u naše ime. U nastavku
                        možete provjeriti tko
                        su davatelji usluga trećih strana potrebnih za suradnju:

                        Mailchimp – automatizirana platforma za slanje elektroničke pošte koja nam omogućava slanje
                        newslettera
                        Google – Google Analytics koji se upotrebljava za praćenje web statistike i demografskih
                        podataka i
                        ponašanja web
                        korisnika. Koristimo ju za praćenje učinkovitosti naših marketinških kampanja.
                    </p>
                </li>
                <li>
                    <p>
                        3. Pružatelji usluga potrebnih za sklapanje ili izvršavanje ugovora
                        Pristup bazi Kupaca s osobnim podacima Kupaca uz Cascadus u svrhu sklapanja ili izvršavanja
                        ugovora,
                        odnosno kupovine u
                        Cascadus trgovini i dostavu proizvoda trenutno imaju:
                    </p>
                    <ul>
                        <li>
                            <p>Politika kolačića
                                Kako bi stranice Cascadus ispravno radile, one moraju na računalo korisnika spremiti
                                malenu
                                količinu informacija
                                (Cookies). Prema regulacijama EU, Cascadus prije spremanja Cookiea mora zatražiti
                                pristanak
                                korisnika.
                            </p>
                        </li>
                        <li>
                            <p>
                                Korištenjem web stranice cascadus.hr internet trgovina korisnik pristaje na upotrebu
                                Cookiea.
                            </p>
                        </li>
                        <li>
                            <p>
                                Korisnik isključivanjem kolačića odlučuje hoće li dopustiti pohranjivanje kolačića na
                                svom
                                računalu. Postavke kolačića
                                mogu se kontrolirati i konfigurirati u web pregledniku koji korisnik koristi za
                                pregledavanje web stranica. Ukoliko
                                korisnik onemogući kolačiće postoji mogućnost da stranica neće moći koristiti neke od
                                funkcionalnosti koje daje Cascadus
                                web trgovina.
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>
            <p>
                Ovo su primjeri trećih strana koje pružaju usluge analize i marketinške obrade podataka:
            </p>
            <ul>
                <li>
                    <p>
                        Google – Google Analytics koji se upotrebljava za praćenje web statistike i demografskih
                        podataka i
                        ponašanja web
                        korisnika. Koristimo ju za praćenje učinkovitosti naših marketinških kampanja.
                        Facebook – Facebook društvena mreža prikuplja podatke u svrhu praćenja i mjerenja uspješnosti
                        marketinških kampanja,
                        ponašanja web korisnika i kreiranja prilagođenih oglasa.
                    </p>
                </li>

                <p>
                    Kako korisnici mogu ažurirati, urediti ili obrisati svoje osobne podatke?
                    Tvrtka Cascadus d.o.o. – internet trgovina. prikuplja podatke korisnika u skladu propisima EU i
                    Zakon o provedbi Opće
                    uredbe o zaštiti podataka.
                </p>

            </ul>

            <hr>
            <p>
                Svaki korisnik može u svakom trenutku može:
            </p>
            <ul>
                <li>
                    <p>
                        Zatražiti pristup svojim osobnim podacima i zatražiti ažuriranje osobnih podataka i eventualnih
                        netočnosti.
                        tražiti nas da vam pružimo dodatne informacije o načinu na koji koristimo vaše podatke.
                        zaprimiti osobne podatke o vama koje ste nam dali u strukturiranom, uobičajeno upotrebljavanom i
                        strojno čitljivom
                        formatu te – gdje je to tehnički moguće – da prenesemo te podatke drugom voditelju obrade bez
                        zapreka ako se obrada
                        vaših podataka temelji na vašoj suglasnosti te se provodi na automatizirani način.
                        zatražiti brisanje osobnih podataka korisnika te zatražiti brisanje podataka za koje više ne
                        postoji
                        zakonska osnova za
                        upotrebu. Budući da korisnici mogu zatražiti brisanje samo svojih osobnih podataka, radi zaštite
                        korisnika možemo vas
                        zatražiti provjeru identiteta prije provođenja zahtjeva.
                        u slučajevima gdje se obrada temelji na suglasnosti te vezano za svaki direktni marketing,
                        povući
                        svoju suglasnost s
                        učinkom u budućnosti kako bismo prestali s takvom određenom obradom.
                        dati prigovor na svaku obradu (uključujući profiliranje) koja se temelji na legitimnom interesu
                        zbog
                        vaše specifične
                        situacije, osim ako su razlozi za izvršenje takve obrade jači od prava na zaštitu osobnih
                        podataka.
                        tražiti nas da ograničimo način na koji koristimo vaše podatke, npr. dok se prigovor obrađuje.
                        Cascadus može odbiti provođenja zahtjeva ukoliko se time ugrožava privatnost korisnika ili
                        drugih
                        korisnika, ako
                        primjena zahtjeva je suprotna zakonu, u izuzecima radi zaštite javnog interesa (npr.
                        sprječavanje
                        ili otkrivanje
                        zločina), pravnih obveza ili prava i sloboda drugih.
                    </p>
                    <p>

                        Zahtjeve za pristup, ispravljanje ili brisanje podataka možete uputiti na:
                        info@cascadus.hr ili pismenim putem na adresu sjedišta: Breg 22, 10362 Zagreb, Hrvatska.
                    </p>
                    <p>Obrada takvog zahtjeva može biti tehnički i vremenski složen proces te je u složenim slučajevima
                        ili
                        u slučaju većeg
                        broja zahtjeva potrebno duže vrijeme potrebno za obradu podataka o čemu ćemo vas obavijestiti na
                        zakonit i siguran
                        način.</p>
                </li>
            </ul>
            <hr>
            <p>
                Kako čuvamo sigurnost vaših podataka?
                U svrhu očuvanja sigurnosti, integriteta i dostupnosti osobnih podataka kupaca, podatke osiguravamo
                nizom
                sigurnosnih
                mjera koje uključuju enkripciju, autentifikaciju i strogo ograničeni pristup podacima.
            </p>

            <p>
                Neke od mjera koje koristimo uključuju:
            </p>
            <ul>
                <li>
                    <p>strogo ograničen pristup osobnim podacima temeljen na načelu „nužnog poznavanja“
                        korištenje podataka isključivo u skladu s legitimnim interesom, ugovornom obavezom ili danom
                        privolom Kupca
                        sigurnosni prijenos podataka
                        postavljanje antivirusnih programa i vatrozida na IT sustave u svrhu detekcije, sprječavanja
                        zloupotrebe osobnih
                        podataka i neovlaštenog pristupa podacima.</p>
                </li>
                <li>
                    <p>
                        Koliko dugo zadržavamo vaše osobne podatke?
                        Osobne podatke pohranjujemo i obrađujemo onoliko dugo koliko je potrebno za izvršenje određene
                        legitimne svrhe, osim ako
                        važećim propisima nije za pojedinu svrhu predviđeno duže vrijeme čuvanja.
                        U slučaju davanja privole za marketing, podatke čuvamo onoliko dugo dok se privola ne povuče.
                        Osobni
                        podaci koji više
                        nisu potrebni se ili nepovratno anonimiziraju ili se uništavaju na siguran način.
                    </p>
                </li>
            </ul>
            <hr>
            <div class="text-center">
            <h5>Za sve informacije, pohvale, primjedbe, reklamacije kao i svake druge obavijesti Kupci se mogu obratiti
                pismenim putem prodavatelju na adresu Breg 22, 10 362 Kašina, Hrvatska.
            </h5>
            <p>
                Telefon: <a href="tel:+38598713228">+385 98 713 228</a>
            </p>
            <p>
                E-mail: <a href="mailto:info@cascadus.hr">info@cascadus.hr</a>
            </p>

            </div>
        </div>
    </div>
</div>