<section id="about-us" class="mt-5 pt-5">

  <div class="row m-0 mt-2 pt-5 p-0 white shadow text-center">
    <div class="col pb-2 pl-2 pr-2">
        <h1 class="dark-text"><b>Mi smo <strong>obitelj</strong>, mi smo <strong>Cascadus</strong>!</b></h1> 
        <h4 class="">Raznolika priroda naših proizvoda omogućuje nam posjedovanje širokog sprektra
          stručnosti unutar tvrtke, prihvačanje novih ideja i njihovo aktuliziranje.</h4>
    </div>
  </div>
  
  <!-- <div class="row shadow m-0 p-0">
    <div class="col-12 m-0 p-0">
      <div class="img-responsive img about-us-img about-us-img-1 p-0 d-flex justify-content-center">
         <div class="align-self-center text-center w-75 p-3 card opacity-1 bg-dark orange-text">
        <h1><b>Dobro došli u Cascadus!</b></h1> 
        <h4>Raznolika ponuda naših proizvoda omogućuje nam posjedovanje širokog sprektra stručnosti unutar tvrtke, prihvaćanje unakrsnog prašivanja ideja i njihovo aktuliziranje.</h4>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row bg-dark shadow m-0 p-0">
    <div class="col-12 p-4 mx-2 my-0 orange-text text-center">
      <h1><b>Tko smo mi?</b></h1>
      <h4 class="">Mi smo suradnički i dinamičan tim koji usko surađuje kako bi bolje razumio kupce i svakodnevno im pružio kvalitetu.</h4>
    </div>
  </div>

  <div class="row shadow white p-0 m-0 overflow-auto">
    <div class="col-xs-12 col-md-6 about-us-img about-us-img-2"></div>
    <div class="col-xs-12 col-md-6 align-self-center text-center white m-0 p-3">
        <h1><b>Naša misija</b></h1>
        <p class="lead">Svakim danom nastavljamo rasti i dodajemo nove pothvate u Cascadus timu kako bi našim partnerima
          i klijentima dali vrijednost pružanjem inovatnivnih proizvoda kao i kvalitetnih proizvodnih usluga.</p>
    </div>
  </div>


  <div class="row bg-dark shadow m-0 p-0">
    <div class="col-12 p-4 mx-2 my-0 orange-text text-center">
      <h1><b>Budućnost</b></h1>
      <h4 class="">Vjerujemo da bi odlazak u trgovinu trebao donijeti više od samog proizvoda. Nama u Cascadusu je najvažnije
        iskustvo.
        Svakodnevnim istraživanjima tržišta želimo našim kupcima ponuditi najbolje i najpraktičnije rješenje za bilo
        kakav problem.</h4>
    </div>
  </div>

  <div class="row shadow white p-0 m-0 overflow-auto">
    <div class="col-xs-12 col-md-6 align-self-center text-center white m-0 p-3">
        <h1><b>Inspiracija</b></h1>
        <p class="lead">Postoji velika snaga u ljudima među nama. Oni nas <strong>inspiriraju</strong>. Što se s njima više povezujemo to smo više
          nagrađeni. To nas motovira da i dalje radimo ono što najbolje znamo. Pomoći što više ljudi i olakšati stvari u
          svakodnevnim situcijma je naša glavna misija.</p>
    </div>
    <div class="col-xs-12 col-md-6 about-us-img about-us-img-4"></div>
  </div>

  <div class="row white shadow m-0 p-0">
    <div class="col-12 p-4 mx-2 my-0 text-center">
      <h1><b>Inovativnost na tržištu</b></h1>
      <h4 class="">Integrirajući fukcncije orijentirane prema kupcu dodatno nam pomažu da predvidimo potrebe svojih kupaca, 
        pretvarajući njihove inovativne ideje u uspješne prilagođene proizvode.</h4>
    </div>
  </div>
  
</section>